[submodule "thirdparty/raylib"]
  path = thirdparty/raylib
  url = https://github.com/raysan5/raylib
  branch = 5.5
  shallow = 1

[submodule "raygui"]
  path = thirdparty/raygui
  url = https://github.com/raysan5/raygui
  branch = 4.0
  shallow = 1
